/* .Title {
    color: white;
    font-size: 40px;
    width: 100%;
    text-align: center;
    padding-top: 50px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
} */
.Title {
    text-align: center;
    position: relative;
    top: 30px;
    letter-spacing: 0;
    padding: 0.25em 0 0.325em;
    display: block;
    margin: 0 auto;

    color: #e0eff2;
    font: italic bold 50px Georgia, Serif;
    text-shadow: -4px 3px 0 #3a50d9, -14px 7px 0 #0a0e27;
    color: white;
    
    /* Clip Background Image */
    background: url(https://i.ibb.co/RDTnNrT/animated-text-fill.png) repeat-y;
    -webkit-background-clip: text;
    background-clip: text;
    
    /* Animate Background Image */
    -webkit-text-fill-color: transparent;
    animation: aitf 80s linear infinite;
    
    /* Activate hardware acceleration for smoother animations */
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    
    @keyframes aitf {
    0% {
    background-position: 0% 50%;
    }
    100% {
    background-position: 100% 50%;
    }
    }
    }